.container {
  color: $color-punga;
  font-family: "Montserrat", "Arial", sans-serif;
  font-weight: 500;
  box-sizing: border-box;
  width: 100%;
  margin: 0 auto;
  padding: 70px 40px;
  max-width: 1360px;
  min-width: 1280px;

  @include vp-1279 {
    padding: 50px 24px;
    max-width: 1279px;
    min-width: 768px;
  }

  @include vp-767 {
    padding: 30px 16px;
    max-width: 767px;
    min-width: 320px;
  }
}
